.container {
  padding: 12rem 0;
}

.gridContainer {
  display: grid;
  grid-column-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  height: 36rem;
}

.content {
  overflow: hidden;
}

.content span {
  position: absolute;
  z-index: 1;
}

/* .left {
  background-color: yellow;
}

.left span:hover {
  color: red;
} */

/*  */

/* .right {
  background-color: green;
} */

.imageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  transition: all 0.4s;
}

.imageContainer:hover {
  scale: 1.1;
}
