.nav {
  background-color: var(--color-background);
  height: 100%;
}

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  .nav {
    grid-column: full-start/full-end;
  }

  /* … */
}
@media only screen and (max-width: 32em) {
  .nav {
    grid-column: full-start/full-end;
  }

  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
