.nav {
  background-color: var(--color-primary-darkest);
  height: 100%;
  /* grid-column: full-start/cont-start; */
  grid-column: full-start/col-start 2;
}

@media only screen and (max-width: 65em) {
  /* landscape portrait */
  .nav {
    grid-column: full-start/full-end;
  }
}
@media only screen and (max-width: 52em) {
  /* potrait tablet || landscape phone */
}
@media only screen and (max-width: 32em) {
  /* big phone screens */
}
@media only screen and (max-width: 22em) {
  /* small phone screens */
}
