.list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.list li {
  font-size: var(--font-primary);
  color: var(--color-primary);
}

.list a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a.action,
.list a:hover {
  /* padding: 1.2rem 1.2rem;
  border: none;
  border-radius: var(--radius-primary); 
  background-color: var(--color-primary);  */

  /* because color property is clashing for the same selection ,I chained the element selector
  a with th class selector
  */
  color: var(--color-secondary);
}

.shop a {
  border: none;
  border-radius: var(--radius-primary);
  background-color: var(--color-primary);
  padding: 1.2rem 1.2rem;
  color: white;
}

.logout {
  border: none;
  color: inherit;
  background: none;
  font-size: inherit;
  cursor: pointer;
}

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  .list {
    display: none;
  }
  /* … */
}
@media only screen and (max-width: 32em) {
  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
