.list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.list li {
  font-size: var(--font-primary);
  color: var(--color-primary);
}

.list a {
  /* color: var(--color-primary); */
  text-decoration: none;
  color: inherit;
}

a.action {
  padding: 1.2rem 1.2rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white-brand);
  cursor: pointer;
  border-radius: var(--radius-primary);
  /* font-size: var(--font-primary); */
}

.logout {
  border: none;
  color: inherit;
  background: none;
  font-size: inherit;
  /* font-size: var(--font-primary); */
}

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  .list {
    display: none;
  }
  /* … */
}
@media only screen and (max-width: 32em) {
  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
