.imgContainer {
  min-height: 100vh;
  height: 100vh;
  position: relative;
  /* top: 0;
  left: 0; */
  width: 100%;
  grid-column: full-start / full-end;
  /* position: absolute; */
  /* the relative parent is the grid container too. */
}
.img {
  object-fit: cover;
  /* uses the grid container as the relative parent  */
}
