.iconContainer {
  display: none;
  z-index: 1;
}

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  .logo {
    text-decoration: line-through;
  }
  .iconContainer {
    display: block;
  }
  /* … */
}
@media only screen and (max-width: 32em) {
  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
