.container {
  grid-column: col-start 2 / cont-end;
  height: 80vh;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}
