.container {
  grid-column: cont-start/cont-end;
  /* display: flex; */

  min-height: 80vh;
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.img {
  object-fit: cover;
}

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* … */
}
@media only screen and (max-width: 32em) {
  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
