.container {
  grid-column: cont-start / cont-end;
  font-size: var(--font-primary);
  /* background-color: red; */
  /* height: 100px; */
  /* padding: 12rem 0; */
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  gap: 4rem; */
}

@media only screen and (max-width: 74em) {
  /* standard is 64em or 62 */
  /* … */
}

@media only screen and (max-width: 65em) {
  /* standard is 64em or 62 */
  /* … */
}
@media only screen and (max-width: 52em) {
  /* standard is 48em */
  .container {
    padding: 4rem 0;
  }
  /* … */
}
@media only screen and (max-width: 36em) {
  /* … */
}
/* irrelevant old phones */
@media only screen and (max-width: 22em) {
  /* … */
}
