.container {
  grid-column: cont-start / cont-end;
  font-size: var(--font-primary);
  padding: 12rem 0;
  width: 100%;
  height: max-content;
}

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  .container {
    padding: 4rem 0;
  }
  /* … */
}
@media only screen and (max-width: 32em) {
  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
