.container {
  position: relative;
  width: 100%;
  height: 85vh;
  grid-column: full-start / full-end;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* transition: all 2.5s ease-in-out; */
  transition: all 1.5s ease-out;
}

.active {
  transform: translateY(0);
  animation: slide-in 4s;
}

.slideIn {
  animation: slide-in 4s;
}

.slideOut {
  animation: slide-out 10s;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.chevronContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  /* margin: 0 auto; */
}

.chevronContainer p {
  /* height: 12px;
  width: 12px; */
  color: var(--color-white-brand);
  background-color: var(--color-secondary-light);
  padding: 4px 4px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setO {
  opacity: 0;
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }

  /* 
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  } */
}

@keyframes slide-in {
  /* 0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  } */
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
