.container {
  /* height: 10vw; */
  background-color: var(--color-primary-darkest);
  grid-column: full-start/full-end;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  border-top: 2px solid var(--color-primary);
  align-items: center;
  /* height: 40vh; */
}
.logo {
  font-size: 3rem;
  font-weight: bold;
}

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  .container {
    justify-content: center;
  }
  /* … */
}
@media only screen and (max-width: 32em) {
  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
