.item {
  width: 100%;
  color: var(--color-secondary);
  border-bottom: 0.001px solid var(--color-primary);
}

.button {
  padding: 2rem 0rem;
  padding-left: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  /* width: 100%; */
}

li.active {
  background-color: var(--color-primary);
  color: var(--color-white-brand);
}

/* button.active {
  background-color: var(--color-primary);
  color: var(--color-white-brand);
} */
