.drop {
  position: absolute;
  left: 0;
  top: 0;
  height: 75vh;
  width: 100%;
  background-color: var(--color-secondary);
  transition: all 1s ease-in;
}

.effect {
  visibility: hidden;
  opacity: 0;
  top: -50rem;
  /* top: -50%; */
  /* removes percentage use because when nav is set to fixed the parent container becomes the grid container
  causing the modal not to fully go in */
}

/* small screen first screen first */

@media only screen and (min-width: 52em) {
  /* … */
  .drop {
    display: none;
  }
}

/* LARGE SCREEN FIRST */

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  /* … */
}
@media only screen and (max-width: 32em) {
  .drop {
    height: 50vh;
  }
  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
