.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-column: full-start/full-end; 
   padding: 0rem 8rem;*/
  grid-column: cont-start / cont-end;

  height: 12rem;
  z-index: 1;

  /* background-color: var(--color-white-brand); */

  /* border-bottom: 1px solid var(--color-background-1); */
  font-size: var(--font-header);
}

.leftSide,
.rightSide {
  display: flex;
  gap: 8px;
}
.cartContainer {
  position: relative;
}

.sticky {
  position: fixed;
  left: 0;
  padding: 0 20rem;
  width: 100%;
  background-color: var(--color-white-brand);
  border-bottom: 1px solid var(--color-background-1);
}

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  .container {
    padding: 2rem 4rem;
    font-size: 2rem;
  }

  /* … */
}
@media only screen and (max-width: 32em) {
  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
