.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: full-start/full-end;
  /* grid-row: full-start/cont-start; */
  padding: 4rem 8rem;
  z-index: 1;
  /* box-shadow: 1px 1px 1rem 0rem var(--color-text-2); */

  background-color: var(--color-white-brand);
  width: 100%;
  border-bottom: 2px solid var(--color-primary-lightest);
  /* position: relative; */
}

.logo {
  font-size: var(--font-header);
  font-weight: bold;
  text-transform: uppercase;
}

.sticky {
  position: fixed;
  /* box-shadow: 1px 1px 1rem 0rem var(--color-text-2); */
}

@media only screen and (max-width: 65em) {
  /* … */
}
@media only screen and (max-width: 52em) {
  .container {
    /* box-shadow: 1px 1px 1rem 0rem var(--color-background-2); */
    padding: 2rem 4rem;
  }

  /* … */
}
@media only screen and (max-width: 32em) {
  /* … */
}
@media only screen and (max-width: 22em) {
  /* … */
}
